head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='theme-color' content='#000000')
  meta(name='descriptions' content='Получение QR-кода на посещение общественного места в Москве')
  meta(name='url' content='immune.mos.ru')
  meta(name='image:alt' content='Получение QR-кода на посещение общественного места в Москве')
  title Получение QR-кода на посещение общественного места в Москве
  link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico')
  link(href='/assets/css/chunk.css' rel='stylesheet')
  link(href='/assets/css/main.css' rel='stylesheet')
noscript You need to enable JavaScript to run this index.
.main-container
  #root.main_content
    .immun-page
      .white_bg_status
        .content-container.informer-start-bottom.centered
          br
          img(src='/assets/img/mos_logo.svg' width='60%')
          br
          br
          #print
            if vaccinated
              .status-container
                div
                  span.status-value Действителен
              br
              div
                h4.status-param
                  | Сведения о владельце QR-кода:
                  br
                  | #{data.name}
                h4.status-param Дата рождения: #{data.dateBirth}
                h4.status-param Срок действия: #{data.expiringAt}
            else
               .status-error-container
                  div
                    span.status-value Недействителен
